<div class="card mt-4">

    <div class="card-body ">
        <form action="" method="post" class="mt-4">

            <label for="Nome">Nome:</label>
                <input type="text" name="Nome" class="form-control"    placeholder="Digite seu nome">
            <br>

            <label for="Senha" >Senha:</label>
                <input type="password" name="Senha"   class="form-control"  placeholder="Digite sua senha">
            <br>
            <button type="submit" class="btn btn-success">Entrar!</button>
        </form>
    </div>
</div>